---
Checks: "*,
        -abseil-*,
        -altera-*,
        -android-*,
        -bugprone-unsafe-functions,
        -cert-err33-c,
        -cert-msc24-c,
        -cert-msc33-c,
        -cppcoreguidelines-avoid-c-arrays,
        -cppcoreguidelines-avoid-magic-numbers,
        -cppcoreguidelines-macro-usage,
        -cppcoreguidelines-non-private-member-variables-in-classes,
        -cppcoreguidelines-owning-memory,
        -cppcoreguidelines-pro-bounds-array-to-pointer-decay,
        -cppcoreguidelines-pro-bounds-constant-array-index,
        -cppcoreguidelines-pro-bounds-pointer-arithmetic,
        -cppcoreguidelines-pro-type-vararg,
        -fuchsia-*,
        -google-*,
        google-runtime-int,
        -hicpp-avoid-c-arrays,
        -hicpp-deprecated-headers,
        -hicpp-no-array-decay,
        -hicpp-vararg,
        -llvm*,
        -misc-const-correctness,
        -misc-no-recursion,
        -misc-non-private-member-variables-in-classes,
        -misc-use-anonymous-namespace,
        -misc-use-internal-linkage,
        -modernize-avoid-c-arrays,
        -modernize-deprecated-headers,
        -modernize-use-std-print,
        -modernize-use-trailing-return-type,
        -portability-avoid-pragma-once,
        -readability-avoid-const-params-in-decls,
        -readability-else-after-return,
        -readability-function-cognitive-complexity,
        -readability-identifier-length,
        -readability-identifier-naming,
        -readability-magic-numbers,
        -readability-static-accessed-through-instance,
        -zircon-*,
"
WarningsAsErrors: ''
HeaderFilterRegex: 'include/ian/.*\.hpp$'
FormatStyle:     none
