---
Checks: "*,
        -abseil-*,
        -altera-*,
        -android-*,
        -fuchsia-*,
        -google-*,
        -llvm*,
        -modernize-use-trailing-return-type,
        -portability-avoid-pragma-once,
        -zircon-*,
        -readability-else-after-return,
        -readability-static-accessed-through-instance,
        -readability-avoid-const-params-in-decls,
        -readability-identifier-length,
        -readability-identifier-naming,
        -readability-magic-numbers,
        -cppcoreguidelines-avoid-magic-numbers,
        -cppcoreguidelines-non-private-member-variables-in-classes,
        -misc-non-private-member-variables-in-classes,
        -misc-no-recursion,
        -misc-use-anonymous-namespace,
        -misc-use-internal-linkage
"
WarningsAsErrors: ''
HeaderFilterRegex: 'include/ian/.*\.hpp$'
FormatStyle:     none

CheckOptions:
  - key: misc-include-cleaner.MissingIncludes
    value: false
  - key: misc-include-cleaner.UnusedIncludes
    value: true
